// Specific CSS for your home-page
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  a {
    text-decoration: none;
  }
}

.username {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

.image {
  width: 60px;
  margin: 0px 10px;
  border: 1px solid black;
}

.test {
  width: 260px;
  height: 265px;
  object-fit: cover;
}
