.card-product {
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border: 1px solid black;

  .text {
    text-decoration: none;
    text-align: center;
  }
}
