.card-product {
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border: 1px solid black;

  &:hover {
    background-color: #E5CCE8;
    font-weight: bold;
  }


  .text {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    font-size: 14px;
  }

  .card-img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

h3 {
  font-weight: 400;
}
