h1 {
  font-weight: 400;
}

.names a {
  text-decoration: none;
  color: #00D9B2;
  margin-top: 15px;
}

.middle {
  position: absolute;
      top: 40%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
  width: 90%;

  p {
    margin-top: 15px;
  }

}

.findpicture {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 13px;


}
