.details{
  position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;

}
.small-details {
  padding-top: 20px;
}

.small-details p {
  margin: 0px;
  padding: 5px 0px;
  text-align: left;
}

.button-green-shadow {
  font-size: 20px;
}

.name {
  padding-top: 20px;
  font-size: 22px;
}

.img {
  height: 100%;
  width: 220px;
  opacity: 1;
  border: 2px solid #E5CCE8;
  object-fit: cover;
}


.remove a{
  text-decoration: none;
  color: black;


  &:hover {
    color: $lilac;
  }
}
