<h1>Friends</h1>
<div class="container">
<h3>Search bar can go here or whatever</h3>
<p>Dani <%= link_to "add as friend", friends_path(user: User.last.id), data: { turbo_method: :post } %></p>
</div>
