<div class="footer">
  <div class="footer-links">
    <div class="icon-link">
    <a href="#" class="icon-link"><i class="fa-regular fa-address-book"></i></a>
    <p>FRIENDS</p>
    </div>
    <a href="#" class="button-purple">HELP</a>
    <div class="icon-link">
    <a href="/map" class="icon-link"><i class="fa-regular fa-map"></i></a>
    <p>MAP</p>
    </div>
  </div>
</div>
