<div class="footer">
  <div class="footer-links">
    <div class="icon-link">
      <a href=<%= friends_path %>> <%= image_tag "friends_icon.png", class: "icon-link", id: "friend-icon" %></a>
    </div>
    <div data-controller="help-button">
      <button type="button" class="helpbutton" data-action="click->help-button#help">HELP</button>
    </div>
    <div class="icon-link">
      <a href="/map"> <%= image_tag "map_icon.png", class: "icon-link", id: "map-icon" %> </a>
    </div>
  </div>
</div>
