<div class="footer">
  <div class="footer-links">
    <div>
    <a href="#" class="icon-link"></a>
    <p>FRIENDS</p>
    </div>
    <a href="#" class="button-purple">HELP</a>
    <div>
    <a href="/map" class="icon-link">MAP</a>
    <p>MAP</p>
    </div>
  </div>
</div>
