
<div style="width: 100vw; height: 90vh; "
    data-controller="map"
    data-modal-target="map"
    class="d-none"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" id="my-map">
  </div>


