<div class="center" data-controller="activation-button user-location">
  <div class="main-avatar">
    <div class="activate" data-action="click->activation-button#change">

      <img class="avatar-large" style="z-index: 1000;" data-activation-button-target="image" src="https://ca.slack-edge.com/T02NE0241-U045M36JRJP-9f2b62fd8ed7-512" alt="">

    </div>
  </div>

  <div class="friend-avatar flex-container">
    <div>
    <% current_user.friends.each do |friend| %>

    <%= link_to friend.user.first_name, chatroom_path(friend.user_friends.find_by(user_id: current_user).chatroom)%>

  <% end %>

<% friends = [] %>
<% Friend.where(user: current_user).each do |friend| %>
<% friends += UserFriend.where(friend: friend) %>
<% end %>
<% friends.each do |friend| %>
<%= link_to friend.user.first_name, chatroom_path(friend.chatroom) %>
<% end %>
  </div>
</div>

<%= render "map" %>
