.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 19px;
}
.footer-links a {
  color: $dark-gray;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-size: 30px;
}



.footer p {
  margin: 0;
}

.icon-link {
  color: $dark-gray;
  &:hover {
      color: $green;
    }
}

#help-button {
  color: $off-white;
}


.helpbutton {
font-size: 32px;
font-weight: 300;
padding: 10px 50px;
background-color: $lilac;
color: white;
border: 2px solid red;
border-radius: 5px;

&:hover {
  background-color: red;
}

}
