.footer {
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  box-shadow: -3px -3px 5px $light-gray;
  // border-top: 0.5px solid $purple;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 19px;
}
.footer-links a {
  color: $dark-gray;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-size: 30px;
}

.footer p {
  margin: 0;
}

.icon-link {
  color: $dark-gray;
  &:hover {
      color: $green;
    }
}

#help-button {
  color: $off-white;
}


.helpbutton {
font-size: 32px;
font-weight: 300;
height: 100%;
padding: 0px 10vw;
background-color: rgb(255, 203, 203);
color: white;
border: 1px solid red;
border-radius: 5px;

&:hover {
  background-color: red;
}
}

#map-icon {
  height: 30px;
}

#friend-icon {
  height: 25px;
}
