.mapboxgl-popup {
  max-width: 25%;
  border-radius: 40%;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
  background-color: $off-white;
  width: 50vw;

    h2 {
      color: $purple;
      font-size: 1rem;
      margin-top: 1rem;
      padding: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: $dark-gray;
    }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
