.navbar-lewagon {
  justify-content: space-between;
  background: #FFFFF9;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
}

.header {
  text-decoration: none;
  color: #6C27FF;
}

.text {
  display: flex;

  p {
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 15px;
    color: $purple;
  }
}

.profilepic {
  width: 55px;
  height: 55px;
  border: none;
  opacity: 1;
  object-fit: cover;
}
